.wrap{ min-width: 1200px;}

.container-area{ width: 100%; display: flex;}
.container-area .lnb{ width: 200px; box-sizing: border-box;}
.container-area .contents { position: relative; width: 100%; box-sizing: border-box;min-height: 500px; margin: 30px; background: #eee; }

.lnb .menus {padding:40px 25px 0 25px;}
.lnb .menus li {
    position: relative; border-bottom: 1px solid #e1e3e9; min-height: 45px;
}

.lnb .menus li a {
    display: block; font-weight: 400;  padding:8px 0;  box-sizing: border-box; font-size: 13px; color: #7c7e89; letter-spacing: -.13px; line-height: 19px; padding-right:18px;
}

.lnb .menus li.on a {font-weight: 800; color: yellowgreen;}

.top_area { width: inherit; height: 80px;background-color: #3d3d3d;}
.top_area .menus { margin: 0 30px}
.top_area .menus ul { display: flex; justify-content: center;}
.top_area .menus ul li a{display: block; font-size: 20px; height:45px; line-height: 45px; font-weight: 700; color: rgba(199, 210, 237, 0.8);padding:0 20px;}
.top_area .menus ul li.on a{color: #fff}

